HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
.mvn
.iml
*.iws
*.iml
*.ipr
logs/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
.vscode/
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
!src/main/resources/application.yml
/src/main/resources/application.yml
