<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head><meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon th:href="@{/img/favicon.ico}">
    <title>酷邦展会后台管理系统</title>
    <link th:href="@{/css/app.f1eafaeb.css}" rel=preload as=style>
    <link th:href="@{/js/app.a83faa97.js}" rel=preload as=script>
    <link th:href="@{/js/chunk-vendors.bd357395.js}" rel=preload as=script>
    <link th:href="@{/css/app.f1eafaeb.css}" rel=stylesheet>
</head>
<body>
<noscript>
    <strong>We're sorry but kubang doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id=app></div>
<script th:src="@{/js/chunk-vendors.bd357395.js}"></script>
<script th:src="@{/js/app.a83faa97.js}"></script>
</body>
</html><script></script>