<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hqu.cst.kubang.exhibition.dao.CompanyDao">
    <sql id="selectFields">
        id,name,type,address,website,telephone,area,introduction,identifyStatus,codeCertificateType,
        codeCertificateId,codeCertificatePic,responsiblePersonName,responsiblePersonIdcard,headPicture
    </sql>

    <sql id="insertFields">
        name,type,address,website,telephone,area,introduction,identifyStatus,codeCertificateType,
        codeCertificateId,codeCertificatePic,responsiblePersonName,responsiblePersonIdcard,headPicture
    </sql>


    <insert id="addUnidentifiedCompanyInfo" parameterType="Company" keyProperty="id">
        insert into companyinformation (<include refid="insertFields"></include>)
        values
        (#{name},#{type},#{address},#{website},#{telephone},#{area},#{introduction},#{identifyStatus},#{codeCertificateType},
        #{codeCertificateId},#{codeCertificatePic},#{responsiblePersonName},#{responsiblePersonIdcard},#{headPicture})
    </insert>

    <update id="updateCompanyInformation" parameterType="Company">
        update companyinformation
        <set>
            <if test = "name !=null">name =#{name},</if>
            <if test = "type !=null">type =#{type},</if>
            <if test = "website!=null">website =#{website},</if>
            <if test = "telephone !=null">telephone =#{telephone},</if>
            <if test = "introduction!=null">introduction =#{introduction},</if>
            <if test = "identifyStatus !=null">identifyStatus =#{identifyStatus},</if>
            <if test = "codeCertificateType!=null">codeCertificateType =#{codeCertificateType},</if>
            <if test = "codeCertificateId !=null">codeCertificateId =#{codeCertificateId},</if>
            <if test = "codeCertificatePic !=null">codeCertificatePic =#{codeCertificatePic},</if>
            <if test = "responsiblePersonName !=null">responsiblePersonName =#{responsiblePersonName},</if>
            <if test = "responsiblePersonIdcard !=null">responsiblePersonIdcard =#{responsiblePersonIdcard},</if>
            <if test = "headPicture !=null">headPicure =#{headPicture}</if>
        </set>
        where id = #{id}
    </update>

    <update id="identifyCompany">
        UPDATE `kubang`.`CompanyInformation`
        SET identifyStatus = 2
        WHERE id = #{id}
    </update>

    <select id="getCompaniesByIdentifyStatus" resultType="Company">
        SELECT <include refid="selectFields"></include>
        FROM companyinformation
        WHERE identifyStatus = #{identifyStatus}
    </select>


    <select id="selectCompanyInformationById" resultType="Company">
        SELECT <include refid="selectFields"></include>
        FROM companyinformation
        WHERE id = #{id}
    </select>

    <delete id="delete">
        delete from companyinformation
        where
        id =#{id}
    </delete>

    <select id="queryCompanyNameById" parameterType="int" resultType="String">
        select `name` from companyinformation where `id` = #{id}
    </select>
</mapper>
