<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hqu.cst.kubang.exhibition.dao.ExhibitionDao">


    <sql id="selectFields">
        id,name,status,startTime,endTime,exhibitionHallId,showRoom,acreage,trade,organizer,contractorId,session,
        period,introduction,Tel,picture
    </sql>

    <sql id="insertFields">
        name,status,startTime,endTime,exhibitionHallId,showRoom,acreage,trade,organizer,contractorId,session,
        period,introduction,Tel,picture
    </sql>

    <select id="queryAllExhibitions" resultType="Exhibition">
        select <include refid="selectFields"></include>
        from exhibitiondetail
    </select>

    <select id="queryExhibitionByID" parameterType="int" resultType="Exhibition">
        select <include refid="selectFields"></include>
        from exhibitiondetail
        where id = #{id}
    </select>

    <select id="queryExhibitionsByStatus" parameterType="Integer" resultType="Exhibition">
        select <include refid="selectFields"></include>
        from exhibitiondetail
        where status = #{status}
    </select>

    <select id="queryExhibitionsByKeyWord" parameterType="String" resultType="Exhibition">
        select <include refid="selectFields"></include>
        from exhibitiondetail
        where (
        <foreach collection="array" item="key" separator=" or " close=")">
            `name` like "%"#{key}"%"
        </foreach>
    </select>

    <insert id="saveExhibition" parameterType="Exhibition" keyProperty="id">
        insert into exhibitiondetail(<include refid="insertFields"></include>)
        values
        (#{name}, #{status},#{startTime},#{endTime},#{exhibitionHallId},#{showRoom},#{acreage},#{trade},#{organizer},
        #{contractorId},#{session},#{period},#{introduction},#{Tel},#{picture})
    </insert>

    <update id="modifyExhibition" parameterType="Exhibition">
        update exhibitiondetail set
        `name` = #{name},
        status = #{status},
        startTime = #{startTime},
        endTime = #{endTime},
        exhibitionHallId = #{exhibitionHallId},
        showRoom = #{showRoom},
        acreage = #{acreage},
        trade = #{trade},
        organizer = #{organizer},
        contractorId = #{contractorId},
        `session` = #{session},
        period = #{period},
        introduction = #{introduction},
        Tel = #{Tel},
        picture = #{picture}
        where id = #{id}
    </update>

    <update id="modifyExhibitionStatus">
        update exhibitiondetail
        set
        status = #{status}
        where id = #{id}
    </update>


    <select id="queryExhibitionsByUserId" parameterType="int" resultType="Exhibition">
        select * from exhibitiondetail e where e.`status`!=4 and e.id in
         (select ce.exhibitionId from companyjoinexibition ce where ce.companyId =
         (select u.userCompanyId from userinformation u where u.userId = #{userId}))
    </select>


    <delete id="deleteAll">
        delete from exhibitiondetail
    </delete>

</mapper>
