<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hqu.cst.kubang.exhibition.dao.GoodsDao">

    <sql id="selectFields">
        goodsId,goodsName,categoryId,companyId,goodsAreaNumber,website,originPlace,
        originalPrice,currentPrice,goodsIntroduce,startTime,endTime,goodsStatus,priority
    </sql>
    <select id="selectAllGoods" resultType="Goods">
        select <include refid="selectFields"></include>
        from goodsintroduce
    </select>
    <select id="selectGoodsById" resultType="Goods">
           select <include refid="selectFields"></include>
           from goodsintroduce
           where goodsId = #{goodsId}
    </select>
    <select id="selectGoodsByName" resultType="Goods">
        select <include refid="selectFields"></include>
        from goodsintroduce
        where goodsStatus = #{goodsStatus} and goodsName = #{goodsName}
    </select>
    <select id="selectGoodsByCompanyId" resultType="Goods">
        select <include refid="selectFields"></include>
        from goodsintroduce
        where companyId = #{companyId}
        <if test="goodsStatus!=0">
         and goodsStatus = #{goodsStatus}
        </if>
    </select>
    <select id="selectGoodsByCategoryId" resultType="Goods">
        select <include refid="selectFields"></include>
        from goodsintroduce
        where goodsStatus = #{goodsStatus} and categoryId = #{categoryId}
        order by priority
    </select>
    <select id="selectGoodsCount" resultType="int">
        select count(*)
        from goodsintroduce
    </select>
   <select id="selectGoodsPicByGoodsId" resultType="GoodsPic">
    select picId, goodsId, pic
    from goodspicture
    where goodsId = #{goodsId}
    </select>
    <select id="selectStatusById" resultType="int">
        select goodsStatus
        from goodsintroduce
        where goodsId = #{goodId}
    </select>
    <insert id="insertGoods" parameterType="Goods" useGeneratedKeys="true" keyProperty="goodsId">
        insert into goodsintroduce
        (goodsName,categoryId,goodsAreaNumber,companyId,website,originPlace,originalPrice,currentPrice,goodsIntroduce,
        startTime,endTime,goodsStatus,priority)
        values
        (#{goodsName},#{categoryId},#{goodsAreaNumber},#{companyId},#{website},#{originPlace},#{originalPrice},
        #{currentPrice},#{goodsIntroduce},#{startTime},#{endTime},#{goodsStatus},#{priority})
    </insert>
    <insert id="insertGoodsPic" parameterType="GoodsPic" useGeneratedKeys="true" keyProperty="picId">
        insert into goodspicture
        (goodsId,pic)
        value
        (#{goodsId},#{pic})
    </insert>
    <update id="updateGoods" parameterType="Goods">
        update goodsintroduce
        set goodsName=#{goodsName},categoryId=#{categoryId},companyId=#{companyId},
        goodsAreaNumber=#{goodsAreaNumber},website=#{website},originPlace=#{originPlace},
        originalPrice=#{originalPrice},currentPrice=#{currentPrice},goodsIntroduce=#{goodsIntroduce},
        startTime=#{startTime},endTime=#{endTime}
        where goodsId=#{goodsId}
    </update>
    <update id="updatePriority">
        update goodsintroduce set priority = #{priority} where goodsId = #{goodsId}
    </update>
    <update id="updateStatus">
        update goodsintroduce set goodsStatus = #{goodsStatus} where goodsId = #{goodsId}
    </update>
    <delete id="deleteGoods">
        delete from goodsintroduce
        where goodsId = #{goodsId}
    </delete>
    <delete id="deleteGoodsPic">
        delete from goodsintroduce
        where picId = #{picId}
    </delete>
    <select id="selectCategoryNameById" resultType="String">
        select category
        from dispalyzone
        where categoryId = #{categoryId}
    </select>
    <select id="selectCompanyNameById" resultType="String">
        select name
        from companyinformation
        where id = #{companyId}
    </select>

    <select id="selectAllGoodsPicById" parameterType="int" resultType="String">
        select pic from goodspicture where goodsId = #{id}
    </select>

    <select id="selectGoodsNewById" parameterType="int" resultType="GoodsNewPojo">
        select * from goodsintroduce where goodsId = #{id}
    </select>
    <select id="selectCategoryNameByCategoryId" parameterType="int" resultType="String">
        select category from dispalyzone where categoryId = #{id}
    </select>
    <select id="selectRandomGoods" parameterType="int" resultType="Goods">
        select <include refid="selectFields"></include>
        from goodsintroduce
        where goodsId >= (select floor(RAND() * (select MAX(goodsId) from goodsintroduce)))
        and goodsStatus = #{goodsStatus}
        order by goodsId limit 0,#{num}
    </select>
    <select id="selectRandomGoodsByCategoryId" parameterType="int" resultType="Goods">
        select <include refid="selectFields"></include>
        from goodsintroduce
        where categoryId = #{categoryId} and goodsStatus = #{goodsStatus}
        order by rand() limit #{num};
    </select>


    <select id="selectGoodsByStatus" parameterType="int" resultType="Goods">
        select <include refid="selectFields"></include>
        from goodsintroduce
        where goodsStatus = #{goodsStatus}
    </select>

    <select id="selectGoodsIdByCompanyId" parameterType="int">
        select goodsId
        from goodsintroduce
        where companyId = #{companyId}
    </select>

    <select id="listExhibitionGoods" parameterType="int" resultType="ExhibitionGoodsDTO">
        select gi.goodsId,gi.goodsName,gi.categoryId,gi.currentPrice,gp.pic image from goodsintroduce gi inner join goodspicture gp on gi.goodsId = gp.goodsId where gi.goodsId in (select goodsId from goodsjoinexhibition where exhibitionId = #{id})
         group by gi.goodsName order by gi.goodsId desc;
    </select>
</mapper>