<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hqu.cst.kubang.exhibition.dao.GoodsDao">

    <sql id="selectFields">
        goodsId,goodsName,categoryId,goodsAreaNumber,companyId,website,originPlace,originalPrice,currentPrice,goodIntroduce,startTime,endTime,goodsStatus,identifyStatus,priority
    </sql>
    <select id="selectGoodsById" resultType="Goods">
           select <include refid="selectFields"></include>
           from goodsintroduce
           where goodsStatus = #{goodsStatus}
           <if test="goodsId != 0">
               and goodsId = #{goodsId}
           </if>
    </select>
    <select id="selectGoodsByName" resultType="Goods">
        select <include refid="selectFields"></include>
        from goodsintroduce
        where goodsStatus = #{goodsStatus} and goodsName = #{goodsName}
    </select>
    <select id="selectGoodsByCompanyId" resultType="Goods">
        select <include refid="selectFields"></include>
        from goodsintroduce
        where goodsStatus = #{goodsStatus} and companyId = #{companyId}
    </select>
    <select id="selectGoodsByCategoryId" resultType="Goods">
        select <include refid="selectFields"></include>
        from goodsintroduce
        where goodsStatus = #{goodsStatus} and categoryId = #{categoryId}
    </select>
    <select id="selectGoodsByKeyword" resultType="Goods">
    select <include refid="selectFields"></include>
    from goodsintroduce join goodskeywords
    on goosintroduce.goodsId = goodskeywords.goodsId
    where goodsStatus = #{goodsStatus} and keyword = #{keyword}
    </select>
    <select id="selectStatusById" resultType="int">
        select goodsStatus
        from goodsintroduce
        where goodsId = #{goodId}
    </select>
    <insert id="insertGoods" parameterType="Goods">
        insert into goodsintroduce
        (goodsId,goodsName,categoryId,goodsAreaNumber,companyId,website,originPlace,originalPrice,currentPrice,goodIntroduce,
        startName,endTime,goodStatus,identifyStatus,priority)
        values
        (#{goodsId}, #{goodsName},#{categoryId},#{goodsAreaNumber},#{companyId},#{website},#{originPlace},#{orginalPrice},
        #{currentPrice},#{goodsIntroduce},#{startTime},#{endTime},#{goodStatus},#{identifyStatus},#{priority})
    </insert>
    <update id="updatePriority">
        update goodsintroduce set priority = #{priority} where goodsId = #{goodsId}
    </update>
    <update id="updateStatus">
        update goodsintroduce set goodsStatus = #{goodStatus} where goodsId = #{goodsId}
    </update>
    <delete id="deleteGoods">
        delete from goodsintroduce where goodsId = #{goodsId}
    </delete>

</mapper>