<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hqu.cst.kubang.exhibition.dao.LocationDao">

    <select id="getAllProvince" resultType="Province">
        select * from province
    </select>

    <select id="getAllCities" parameterType="int" resultType="City">
        select * from city where provinceCode = #{provinceCode}
    </select>


    <select id="getCityByCode" parameterType="int" resultType="City">
        select * from city where
        code = #{code}
    </select>
</mapper>