<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hqu.cst.kubang.exhibition.dao.UserDao">

    <sql id="selectFields">
        userId,userAccount,userCompanyId,userName,userPassword,userSex,userPermission,userIntegral,userReccode,
        userPicture,userChooseCity,userEmail,userOrganizerId
    </sql>

    <sql id="insertFields">
        userAccount,userCompanyId,userName,userPassword,userSex,userPermission,userIntegral,userReccode,
        userPicture,userChooseCity,userEmail,userOrganizerId
    </sql>

    <select id="selectById" resultType="User">
        select * from userinformation where userId = #{id}
    </select>

    <insert id="UserRegisterFromPhoneNumber" parameterType="User" keyProperty="userId">
        INSERT INTO userinformation (<include refid="insertFields"></include>)
        VALUES
        (#{userAccount},#{userCompanyId},#{userName},#{userPassword},
        #{userSex},#{userPermission},#{userIntegral},#{userReccode},#{userPicture},#{userChooseCity},#{userEmail},#{userOrganizerId})
    </insert>


    <insert id="UserRegisterFromEmail" parameterType="String" keyProperty="userId">
        INSERT INTO `kubang`.`userinformation` (`userId`, `userAccount`, `userName`, `userPassword`, `userSex`, `userIntegral`, `userReccode`)
        VALUES (#{UserID}, #{email}, #{newUserName}, #{password}, 'male', '0', #{newRecCode})
    </insert>
    <select id="GetUseInfoFromAccount" parameterType="String" resultType="User">
        SELECT * from `kubang`.`userinformation` where userAccount=#{account}
    </select>
    <select id="GetUserInfoFromId" parameterType="int" resultType="User">
        SELECT * from `kubang`.`userinformation` where userId=#{userId}
    </select>
    <update id="AddUserPoint" parameterType="String">
        UPDATE `kubang`.`userinformation` SET `userIntegral`='userIntegral'+10 WHERE `userRecCode`=#{recCode};
    </update>
    <update id="UpdatePassword" parameterType="String">
        UPDATE `kubang`.`userinformation` SET `userPassword`=#{newPassword} WHERE  `userAccount`=#{account}
    </update>
    <update id="UpdateUserInfo_Name" parameterType="String">
        UPDATE `kubang`.`userinformation` SET `userName`=#{userName}WHERE userAccount=#{account}
    </update>
    <update id="UpdateUserInfo_UserSex" parameterType="String">
        UPDATE `kubang`.`userinformation` SET `userSex`=#{userSex} WHERE userAccount=#{account}
    </update>
    <update id="UpdateUserInfo_UserPicture" parameterType="String">
        UPDATE `kubang`.`userinformation` SET `userPicture`=#{picture} WHERE userAccount=#{account}
    </update>
    <select id="IsUserEmailBind" parameterType="String" resultType="int">
        select count(userId) from userinformation where userEmail = #{email};
    </select>

    <update id="bindUserEmail">
        update userinformation
        set userEmail = #{userEmail}
        where
        userId = #{userId};
    </update>

    <select id="GetUserInfoFromOrganizerId" parameterType="int" resultType="User">
        select <include refid="selectFields"></include>
        from userinformation
        where userOrganizerId = #{userOrganizerId}
    </select>

    <update id="setCompanyId">
        update userinformation
        set userCompanyId = #{userCompanyId}
        where
        userId = #{userId};
    </update>



    <delete id="deleteUserInformation" parameterType="int">
        delete from userinformation
        where userId = #{userId}
    </delete>
</mapper>