<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hqu.cst.kubang.exhibition.dao.UserInfoDao">

    <select id="queryUserInfoById" parameterType="int" resultType="User">
        select * from userinformation where userId = #{userId}
    </select>

    <select id="queryUserInfoByAccount" parameterType="String" resultType="User">
        select * from userinformation where userAccount = #{userAccount}
    </select>

    <select id="queryUserInfoByEmail" parameterType="String" resultType="User">
        select * from userinformation where userEmail = #{email}
    </select>

    <select id="queryUserInfoByCompany" parameterType="int" resultType="User">
        select * from userinformation where userCompanyId = #{userCompanyId}
    </select>

    <select id="queryUserInfoByReccode" parameterType="String" resultType="User">
        select * from userinformation where userReccode = #{userReccode}
    </select>

    <update id="changeUserName" parameterType="map">
        update userinformation set userName = #{name} where userId = #{id}
    </update>

    <update id="changeUserEmail" parameterType="map">
        update userinformation set userEmail = #{email} where userId = #{id}
    </update>

    <update id="changeUserPass" parameterType="map">
        update userinformation set userPassword = #{password} where userId = #{id}
    </update>
    <update id="changeUserPhoto" parameterType="map">
        update userinformation set userPicture = #{userPicture} where userId = #{userId}
    </update>
</mapper>