<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hqu.cst.kubang.exhibition.dao.UserInformationMapper">
    <select id="selectById" resultType="UserInformation">
        select userId,userAccount,userName,userPassword,userSex,userIntegral,userReccode,userPicture, userEmail
        from userinformation
        where userId = #{id}
    </select>

</mapper>