<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hqu.cst.kubang.exhibition.dao.UserCollectDao">
    <!--根据用户id查询收藏的展品-->
    <select id="queryCollectGoods" parameterType="int" resultType="GoodsNewPojo">
        select * from goodsintroduce where goodsId in (select goodsId from goodscollect where userId = #{userId})
    </select>

    <!--根据用户id查询收藏的公司，返回不是具体的信息，只是列表信息-->
    <select id="queryCollectCompany" parameterType="int" resultType="Company">
        select id,`name`,`type`,headPicture
        from companyinformation where id in
        (select companyId from companycollect where userId = #{userId})
    </select>

    <!--用户增加收藏展品-->
    <insert id="saveCollectGoods" parameterType="map">
        insert into goodscollect (userId,goodsId) values (#{userId},#{goodsId})
    </insert>

    <!--用户增加收藏公司-->
    <insert id="saveCollectCompany" parameterType="map">
        insert into companycollect (userId,companyId) values (#{userId},#{companyId})
    </insert>

    <!--根据用户id和goodsId查找表中是否存在记录-->
    <select id="queryNumForCollectGoods" parameterType="map" resultType="int">
        select count(id) from goodscollect where userId = #{userId} and goodsId = #{goodsId}
    </select>

    <!--根据用户id和companyId查找表中是否存在记录-->
    <select id="queryNumForCollectCompany" parameterType="map" resultType="int">
        select count(id) from companycollect where userId = #{userId} and companyId = #{companyId}
    </select>
</mapper>