<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hqu.cst.kubang.exhibition.dao.UserCodeDao">
    <insert id="saveUserCode" parameterType="UserCode">
        insert into usercode(email,code,sending_time) values(#{email}, #{code},#{sendingTime});
    </insert>

    <select id="queryUserCodeByEmail" parameterType="String" resultType="UserCode">
        select * from usercode where email = #{email} order by sending_time+0 desc limit 1;
    </select>

</mapper>
