<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.hqu.cst.kubang.exhibition.dao.UserCodeDao">


    <sql id="selectFields">
        id,account,code,sendingTime
    </sql>

    <sql id="insertFields">
        account,code,sendingTime
    </sql>

    <insert id="saveUserCode" parameterType="UserCode" keyProperty="id">
        insert into usercode (<include refid="insertFields"></include>)
        values
        (#{account},#{code},#{sendingTime})
    </insert>

    <select id="queryUserCodeByAccount" parameterType="String" resultType="UserCode">
        select <include refid="selectFields"></include>
        from usercode
        where account = #{account} order by sendingTime+0 desc limit 1
    </select>

    <delete id="deleteUserCode" parameterType="String">
        delete from usercode
        where account = #{account}
    </delete>
</mapper>
